#User

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods/
.mlmodel


Storyboard_project/UdemyCloneProject/Twittermenti-iOS13
Algorithm/AlgorithmPractice2/AlgorithmPractice2/main2ᆫ초과.swift
